@media (min-width: 768px) {
  body .profile_banner img {
    object-position: right; } }

@media (max-width: 767px) {
  body .profile_body {
    padding: 1rem; } }

body .profile_body .prof_main_body {
  border: none; }
  body .profile_body .prof_main_body .profile_body_2 {
    padding: 0; }
    body .profile_body .prof_main_body .profile_body_2 .prof_body_2_part_2 .prof_info .prf_drpdwn .prf_drpdwn_btn {
      border: none;
      padding: 1rem 0; }
      body .profile_body .prof_main_body .profile_body_2 .prof_body_2_part_2 .prof_info .prf_drpdwn .prf_drpdwn_btn .btn_part_1 h4 {
        padding: 0;
        text-align: left;
        font-size: 1.3rem; }

body .container {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 1023px) {
    body .container {
      padding: 1.5rem 4rem;
      flex-direction: row;
      justify-content: space-between; } }
  body .container .con-part-1 {
    padding: 0 0 1rem 0; }
    body .container .con-part-1 h2 {
      color: var(--white-color);
      padding-bottom: 0.5rem; }

@media (min-width: 1023px) {
  body .footer {
    padding: 2rem 4rem; } }

@media (max-width: 767px) {
  body .footer #last {
    font-size: 16px; } }

@media (max-width: 767px) {
  body .footer .foot-part-2 .social-media {
    width: 55%; } }

@media (max-width: 767px) {
  body .footer .foot-part-2 .social-media .fa {
    font-size: 20px; } }

@media screen and (min-width: 768px) {
  body nav .image-1 {
    width: 20%; }
  body .footer .foot-part-1 .foot-img {
    width: 25%; }
  body .footer .foot-part-2 .social-media {
    width: 25%; }
    body .footer .foot-part-2 .social-media i {
      font-size: 1.4rem; } }

@media screen and (min-width: 1024px) {
  body .profile_banner {
    justify-content: flex-start;
    height: 30vh; }
    body .profile_banner .profile_banner_info {
      left: 4rem; }
  body .profile_body {
    padding: 1rem 4rem; }
    body .profile_body .prof_main_body .profile_body_2 .prof_body_2_part_2 {
      padding: 0; }
  body .footer .foot-part-1 .foot-img {
    width: 150px; }
  body .footer .foot-part-2 .social-media {
    width: 150px; } }
