.container{
    background-color: var(--primary-color);
    color: #021433;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.container h2{
    color: white;
}

  .con-part-1 p{
   margin: 0.8rem 0;
  }
@media only screen and (min-width:1024px){
    .container{
        flex-direction: row;
        padding: 3rem 4rem;
    }
    .container h2{
        text-align: start;
    }
    .container button{
        font-size: 1.2rem;
    }

}