body {
  background-color: var(--primary-color);
  position: relative;
  height: 100vh; }
  body .login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    body .login-section .login-form {
      background-color: var(--white-color);
      padding: 1rem 0;
      width: 100%;
      max-width: 500px; }
      body .login-section .login-form h5 {
        padding: 0.5rem 0;
        color: var(--blue-color); }
      body .login-section .login-form .log-content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: relative; }
        body .login-section .login-form .log-content .fa-question-circle {
          position: absolute;
          right: 2rem;
          font-size: 1.5rem;
          top: 2rem;
          opacity: 0.5; }
        body .login-section .login-form .log-content input {
          padding: 1.2rem;
          border: 1px solid gray; }
        body .login-section .login-form .log-content .inp-mgn {
          margin-top: 1rem; }
        body .login-section .login-form .log-content button {
          margin-top: 1rem;
          padding: 1rem 2rem;
          font-size: 1.1rem;
          letter-spacing: 0.3rem;
          position: relative;
          margin-bottom: 1rem; }
          body .login-section .login-form .log-content button i {
            color: var(--white-color);
            font-size: 1rem;
            position: absolute;
            right: 1rem;
            top: 32%; }
      body .login-section .login-form P {
        font-size: 0.9rem;
        color: gray;
        font-family: "Nexa Bold"; }
        body .login-section .login-form P span {
          color: var(--blue-color); }
  body .last-p {
    font-family: 'Nexa Bold';
    font-size: 0.9rem;
    position: relative;
    width: 100%;
    padding-bottom: 1rem; }

@media only screen and (min-width: 1024px) {
  h5, p {
    text-align: center; } }
