$dark-blue-color: rgb(2, 114, 177);

body {
    .contact_banner {
        position: relative;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .contact_banner_info {
            position: absolute;
            @media (min-width: 1024px) {
                left: 4rem;
            }

            h3 {
                margin-bottom: 1rem;
                color: #fff;
            }
            p {
                opacity: 0.9;
                color: #fff;
            }
        }
    }

    #map {
        height: 300px;
        padding: 1rem 1rem 2rem 1rem;
        @media (min-width: 768px) and (max-width: 1023px) {
            height: 380px;
            padding: 1.5rem 2rem 2rem 2rem;
        }
        @media (min-width: 1024px) {
            padding: 2rem 4rem;
            height: 450px;
        }
        iframe {
            width: 100%;
            height: 100%;
            .gm-style-pbc {
                opacity: 1;
            }
        }
    }

    .query_contact {
        @media (min-width: 1024px) {
            display: flex;
            padding: 1rem 4rem;
        }
        .contact_info {
            padding: 0 1rem;

            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.5rem;
                padding-left: 2rem;
                padding-right: 2rem;
            }
            @media (min-width: 1024px) {
                flex-direction: column;
            }
            .contact_inf {
                display: flex;
                align-items: center;
                padding-bottom: 1rem;
                i {
                    font-size: 1.7rem;
                    color: $dark-blue-color;
                    padding-right: 1rem;
                    padding-left: 2rem;

                    @media (min-width: 768px) {
                        padding-left: 0;
                    }
                }
                .icon_text {
                    h6 {
                        padding-bottom: 0.3rem;
                    }
                    span {
                        font-size: 0.9rem;
                        font-family: "Nexa Light";
                    }
                }
            }
        }

        .query_info {
            background-color: var(--primary-color);
            padding: 1.5rem 1rem;
            @media (min-width: 767px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 2rem;
                padding-right: 2rem;
            }
            @media (min-width: 1024px) {
                width: 100%;
            }
            .query_info_1 {
                @media (min-width: 768px) {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: stretch;
                    .query_row_1 {
                        width: 49%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                    .query_row_2 {
                        width: 49%;
                        .query_inf_4 {
                            height: 100%;
                            input {
                                height: 94%;
                            }
                        }
                    }
                }
            }
            .query_row {
                .query_inf {
                    input {
                        margin-bottom: 0.8rem;
                    }
                    ::placeholder {
                        font-family: "Nexa Bold";
                        color: gray;
                        opacity: 0.6;
                    }
                }
            }
            .send_button {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    .footer {
        .foot-part-2 {
            @media (max-width: 767px) {
                .social-media {
                    width: 150px;
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            #last {
                font-size: 18px;
            }
        }
    }
}
